@import '/helpers/imports';

.cards-wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
}

.card-product {
    flex-basis: 100%;
    text-align: center;

    @include media-query($md) {
      flex-basis: calc((100% - 20px)/ 2);
    }

    @include media-query($lg) {
      flex-basis: calc((100% - 20px)/ 3);
    }

    @include media-query($xl) {
      flex-basis: calc((100% - 30px)/ 4);
    }

    .mat-mdc-card-image {
        height: 300px;

        img {
            height: 100%;
            width: 100%;
            object-fit: fill;
        }
    }

  }