@import '/helpers/imports';

.header {
    background-color: $color-white;

    &-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
    }

    &-logo {
        @include font(20px, 'bold')
    }

    &-list {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 2.5rem;

        .avatar {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }

        .mat-mdc-menu-trigger {
            border: 0;
            background: transparent;
            padding: 0;
        }

        &-link {
            padding: 0;
            display: inline-block;

            &:hover,
            &.active {
                color: $color-primary;
            }
        }
    }
}