@import '../helpers/imports';

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem /* 14px */;
    padding-left: 1rem /* 14px */;

    @include media-query($sm) {
        max-width: 576px;
    }

    @include media-query($md) {
        max-width: 768px;
    }

    @include media-query($lg) {
        max-width: 992px;
    }

    @include media-query($xl) {
        padding: 0 50px;
        width: 100%;
        max-width: none;
    }
}

.section {
    padding: 50px 0;
    z-index: 0;
    position: relative;

    &-head {
        margin-bottom: 40px
    }

    &-title {
        @include font(22px, medium);
        margin-top: 0;
    }
  }
