
.layout {
    .container {
      width: 100%;
      margin-right: auto;
      margin-left: auto;
      padding-right: 1rem /* 14px */;
      padding-left: 1rem /* 14px */;
    }
    @media (min-width: 576px) {
        .container {
            max-width: 576px;
        }
    }
    @media (min-width: 768px) {
        .container {
            max-width: 768px;
        }
    }
    @media (min-width: 992px) {
        .container {
            max-width: 992px;
        }
    }
    @media (min-width: 1200px) {
        .container {
            padding: 0 50px;
            width: 100%;
            max-width: none;
        }
    }
  }

  .section {
    padding: 50px 0;
    z-index: 0;
    position: relative;

    &-head {
        margin-bottom: 40px
    }

    &-title {
        @include font(22px, medium);
        margin-top: 0;
    }
  }
