@import './bg_colors';
@import './text_colors';
@import './layout';

.text-center{
  text-align: center;
}

.text-end{
  text-align: end;
}

.cursor-pointer{
  cursor: pointer;
}

.w-100{
  width: 100%;
}

.d-none {
  display: none;
}
