@import './bg_colors';
@import './text_colors';
@import './layout';

.text-center{
  text-align: center;
}

.text-end{
  text-align: end;
}

.cursor-pointer{
  cursor: pointer;
}

.w-100{
  width: 100%;
}

.d-none {
  display: none;
}

.card,
.card.mat-mdc-card {
  background-color: $color-white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: none;
  border: 0;
  display: flex;
  flex-direction: column;

  .card-meta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:1rem;
    width: 100%;
    
    .mat-mdc-card-subtitle {
      color: $color-anthracite;
      @include font(16px, medium);
    }

    .price {
      color: $color-primary;
      @include font(24px, medium);
    }
  }

  .mat-mdc-card-title {
    @include font(24px, medium);
    text-align: left;
  }

  .mat-mdc-card-header {
    padding: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    .mat-mdc-card-title-group {
      justify-content: center;
      text-align: center;
    }
  }
}
