$vodafone-colors: (
  // Primary colors
  primary: $color-primary,

  // Secondary colors
  secondary: $color-secondary,

  // Monochrome colors
  black: $color-black,
  white: $color-white,
  body: $color-body,
  anthracite: $color-anthracite,
  mid-grey: $color-mid-grey,
  platinum: $color-platinum,
  silver: $color-silver,
  aluminum: $color-aluminum,
  light-grey: $color-light-grey,
  transparent: $color-transparent,
);
