// Primary colors
$color-primary: #5093f7;

// Secondary colors
$color-secondary: #f7931e;

// Monochrome colors
$color-black: #000000;
$color-white: #ffffff;
$color-body: #22262a;
$color-anthracite: #666666;
$color-mid-grey: #999999;
$color-platinum: #afafaf;
$color-silver: #cccccc;
$color-aluminum: #ebebeb;
$color-light-grey: #f4f4f4;
$color-transparent: transparent;